:root{
--primary-color: #2e4d26ef;
--secondary-color: #000;
--accent1-color: #f2c75be7;
--accent2-color: #FFEFD5;
--heading-font: "Times New Roman", "Georgia", serif;
--body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

header {
    background-color: var(--accent1-color);
    padding: 1rem 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

ul {
    background-color: var(--accent2-color);
    font-size: large;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2.5px solid var(--secondary-color);
    padding: 1px;
}

li {
    list-style: none;
    border-right: 2.5px solid var(--secondary-color);
}

li:last-child {
    border-right: none;
}

a {
    padding: 1.5rem;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    bottom: 0;
    text-align: left;
}

.hero article img {
    float: right;
    width: 125px;
    margin: 0 .5rem .5rem .5rem;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    font-family: var(--heading-font);
}

h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    padding: 1rem 0 0 0;
    text-align: center;
    font-size: 2rem;
}

.history {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.history-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.history img {
    width: 250px;
}

.adventure {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.adventure-content {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 1rem;
}

figcaption {
    display: flex;
    justify-content: center;
    padding: 4px;
    font-size: larger;
    font-weight: 700;
    font-family: var(--body-font);
    color: var(--secondary-color);
    background-color: var(--accent2-color);
}

.icons {
    background-color: var(--accent1-color);
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.socialmedia a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

span {
    display: none;
}