:root{
--primary-color: #2e4d26ef;
--secondary-color: #000;
--accent1-color: #DAC3A4; /* #DAC3A4  #f2c75be7 something close to beige, pretty beautiful*/
--accent2-color: #FFEFD5;
--heading-font: "Times New Roman", "Georgia", serif;
--body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header, main, footer {
    width: 900px;
    margin: 0 auto;
}

footer {
    color: var(--accent2-color);
}

nav, p, article {
    margin: 16px;
    padding: 8px;
}

header {
    background-color: var(--primary-color);
    padding: 1rem 5rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

header img {
    border-radius: 2rem;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
}

a {
    padding: 1.5rem;
    font-size: 23px;
    text-decoration: none;
    color: var(--accent2-color);
    font-family: 'Times New Roman', Times, serif;
}


/* About Us Page */

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    bottom: 0;
    text-align: left;
}

.hero article img {
    float: right;
    width: 125px;
    margin: 0 .5rem .5rem .5rem;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    font-family: var(--heading-font);
}

h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    padding: 1rem 0 0 0;
    text-align: center;
    font-size: 2rem;
}

.history {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    padding: 8px;
    border: 1px solid #000;
}

.history-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.history img {
    width: 250px;
}

.adventure {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0;
    padding: 8px;
    border: 1px solid #000;
}

.adventure-content {
    gap: 3rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

.adventure img {
    display: block;
}

figure figcaption {
    background-color: var(--accent2-color);
    font-family: var(--body-font);
    color: var(--secondary-color);
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    padding: .5rem;
}

.icons {
    background-color: var(--primary-color);
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.socialmedia a {
    margin: 0;
    padding: 0;
}

span {
    display: none;
}


/* Contact Us */

.staff {
    text-align: center;
    width: 100%;
}

.staff img {
    display: block;
    margin: 0 auto;
}

.main-color {
    background-color: var(--accent2-color);
}

.contact {
    background-color: #2e4d26aa;
    color: var(--accent2-color);
    text-align: center;
    padding: 2rem;
    box-shadow: .5px .5px 5px var(--primary-color);
    border: 1px solid #000;
}

.contact h1 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    text-align: center;
}

address p {
    font-style: normal;
    position: relative;
    font-size: 1em;
    margin: .1rem;
    padding: 0;
}

.mapform {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

iframe {
    border: 1px solid #000;
    margin: 0;
    box-shadow: 1px 1px 3px #000;
}

.form-margin {
    margin-left: 440px;
    margin: 0;
}

.contact-form {
    width: 400px;
    display: grid;
}

fieldset {
    border: 1px solid #d3d3d3;
    border-radius: .2rem;
    grid-gap: .5em;
    padding: .5rem;
    margin: .5rem;
    display: grid;
    box-shadow: 1px 1px 3px #000;
}

label {
    text-align: right;
    padding-right: .5rem;
}

input, select, textarea {
    padding: .5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

.column1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.message {
    text-align: center;
}

.column2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: .5rem;
}

.column3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}

.column4{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 5px;
}

button {
    margin: 0 .5rem .5rem .5rem;
    color: var(--accent2-color);
    background-color: var(--primary-color);   /* navy */
    border-radius: .5rem;
    font-size: 1.2rem;
    cursor: pointer;
    padding: .5rem;
    border: none;
}

button:hover {
    background-color: darkgreen;
}


/* Home Page */

.hero nav {
    position: absolute;
    opacity: .9;
    bottom: 15rem;
    margin-left: 23rem;
    padding: 2px;
    border-radius: .5rem;
    border: 2px solid #d3d3d3;
    color: var(--secondary-color);
    background-color: var(--accent2-color);
}

.hero a {
    font-weight: 700;
    color: rgb(0, 90, 164);
}

.form-content {
    width: 350px;
    position: relative;
    top: 25%;
    left: 37%;
    font-size: larger;
    color: var(--secondary-color);
}

.form-text {
    margin: .5rem;
    padding: .5rem;
    border-radius: 10px;
    color: var(--secondary-color);
    background-color: var(--accent1-color);
}

.index-layout {
    position: relative;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    display: grid;
    align-items: center;
    grid-template-columns: 30% 70%;
    color: var(--accent2-color);
    background-color: var(--accent2-color);
    border: 1px solid var(--secondary-color);
}

.index-layout p {
    left: 40%;
    opacity: .9;
    top: 3%;
    padding: 2rem;
    text-align: left;
    font-size: larger;
    position: absolute;
    color: var(--secondary-color);
    background-color: var(--accent1-color);
}

.lay-pic1, .lay-pic2 {
    padding: 5px 15px;
    text-align: center;
}

.index-form {
    position: absolute;
    bottom: 5%;
    right: 10%;
    font-size: larger;
}


/* Trips Page */

.title-link {
    position: relative;
    width: 100%;
    padding: 2rem 0 4rem;
    text-align: center;
    color: var(--secondary-color);
    font-family: var(--heading-font);
    background-color: var(--accent2-color);
}

.title-link h1 {
    position: relative;
}

.title-link nav {
    position: absolute;
    top: 5.5rem;
    margin-left: 18rem;
    padding: 2px;
    border-radius: .5rem;
    border: 2px solid #d3d3d3;
    color: var(--secondary-color);
    background-color: var(--accent1-color);
}

.title-link a {
    font-weight: 700;
    color: rgb(0, 90, 164);
}

.trips-advent {
    margin: 1.5rem 0;
    background-color: #d3d3d392;
}

.trips-advent h2 {
    color: var(--primary-color);
    padding: 2rem 0 1rem 0;
}

.trips-advent-content {
    display: grid;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    grid-template-columns: 35% 30% 35%;
}

.pic1, .pic2, .pic3 {
    padding: .5rem;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
    text-align: center;
    border: 1px solid #d3d3d3;
    background-color: var(--accent1-color);
}

table {
    width: 100%;
    margin: 1rem 0;
    font-size: larger;
    letter-spacing: 1px;
    border-collapse: collapse;
    background-color: var(--accent1-color);
    border: 1px solid var(--secondary-color);
}

thead, th {
    padding: 15px;
    font-size: larger;
    font-family: var(--heading-font);
    color: var(--accent2-color);
    background-color: var(--primary-color);
}

.row2 {
    font-size: 1.25rem;
    background-color: var(--accent2-color);
}

td {
    padding: 1rem;
    text-align: center;
    font-weight: 700;
    border: 1px solid var(--secondary-color);
}