:root{
--primary-color: #2e4d26ef;
--secondary-color: #000;
--accent1-color: #f2c75be7;
--accent2-color: #FFEFD5;
--heading-font: "Times New Roman", "Georgia", serif;
--body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

nav, p, article {
    margin: 16px;
    padding: 8px;
}

header {
    background-color: var(--primary-color);
    padding: 1rem 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

ul {
    background-color: var(--accent2-color);
    font-size: large;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2.5px solid var(--secondary-color);
    padding: 1px;
}

li {
    list-style: none;
    border-right: 2.5px solid var(--secondary-color);
}

li:last-child {
    border-right: none;
}

a {
    padding: 1.5rem;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    bottom: 0;
    text-align: left;
}

.hero article img {
    float: right;
    width: 125px;
    margin: 0 .5rem .5rem .5rem;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    font-family: var(--heading-font);
}

h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    padding: 1rem 0 0 0;
    text-align: center;
    font-size: 2rem;
}

.history {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    padding: 8px;
}

.history-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.history img {
    width: 250px;
}

.adventure {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0;
    padding: 8px;
}

.adventure-content {
    gap: 3rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

figure figcaption {
    background-color: var(--accent2-color);
    font-family: var(--body-font);
    color: var(--secondary-color);
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    padding: 5px;
}

.icons {
    background-color: var(--primary-color);
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.socialmedia a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

span {
    display: none;
}



.mapform {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

iframe {
    border-style: none;
    margin: 0;
}

.contact {
    /* background-color: var(--accent2-color); */
    color: var(--secondary-color);
    text-align: center;
    padding: .5rem 0;
}

.contact h1 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-align: center;
}

address p {
    font-style: normal;
    position: relative;
    font-size: 1em;
    margin: .1rem;
    padding: 0;
}

.form {
    margin-left: 440px;
    margin: 0;
}

form {
    /* border: 1px solid #d3d3d3;
    background-color: #EEEEEE; */
    width: 400px;
    display: grid;
}

fieldset {
    /* border: 1px solid #d3d3d3; */
    grid-gap: .5em;
    padding: .2rem;
    margin: .5rem;
    display: grid;
}

label {
    text-align: right;
    padding-right: .5rem;
}

input, select, textarea {
    padding: .5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

.form-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
}

.message {
    text-align: center;
}


.part2 {
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.column2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.column3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .3rem;
}

.column4{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 5px;
}

button {
    background-color: navy;
    color: var(--accent2-color);
    margin: 0 .5rem .5rem .5rem;
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}