* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    color: #000;
    background-color: #fff;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: navy;
    text-align: center;
}

form {
    width: 700px;
    margin: 0 auto;
    padding: 1.5em;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    background-color: #EEEEEE;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid #d3d3d3;
    padding: 1rem;
}

legend {
    padding: .5rem;
    font-size: 1.50em;
    color: navy;
}

label, input, button, select, textarea {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: .5rem;
    font-size: 1.1rem;
}

input:focus, select:focus, textarea:focus {
    outline: 3px solid rosybrown;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    background-color: navy;
    color: beige;
    margin: 1rem;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.25rem;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: .8em;
    color: #777;
    border-top: 1px solid #ccc;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: .5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}
