.callout {
	max-width: 400px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 15px;
    background-color: #264e89;
    color: #fff;
}

.callout img {
	float: right;
    margin: 0 0 10px 15px;
    border: 1px solid #000000;
    padding: 3px;
    background-color: #cfc2ab;
    width: 100px;
    height: auto;
}

blockquote {
	margin: 0;
}

cite {
	display: block;
    border-top: 1px dotted #fff;
    padding-top: 5px;
    text-align: right;
    font-size: smaller;
}